# compiled jvm bytecode
*.jar
# compiled typescript
*.js
# binaries
3a
3b
5a
5b
6a.exe
6b.exe
8a
8b
10a
10b
# node stuff
# i'm not using any libraries other than the ones that come with node, but i need @types/node
node_modules
package-lock.json
package.json
.prettierrc

# random programming language testing
test.*
test